*{
    border-radius: 8px;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image/Fondo1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: 98vh;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

header{
    background-color: #01befe;
    grid-column: 1/-1;
    display: grid;
    place-content: center;
}

nav{
    background-color: #ff006d;
    grid-column: 1/-1;
    display: grid;
    place-content: center;
}

aside{
    background-color: #adff02;
    grid-row: 3/12;
    display: grid;
    place-content: center;
}

section{
    background-color: #ff7d00;
    text-align: center;
    grid-row: 3/12;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

article{
    background-color: #ffdd00;
    height: 100%;
    display: grid;
    place-content: center;
}

text{
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 3px solid black;
}